<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>

					<!-- Optional filters -->
					<Exclude>[*.Tests]*</Exclude>

					<!-- Optional output tuning -->
					<SkipAutoProps>true</SkipAutoProps>
					<SingleHit>false</SingleHit>
					<UseSourceLink>true</UseSourceLink>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>